@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Shizuru&display=swap");
#content {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: #6c5a49;
}
nav a {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 72px;
}
nav a:hover {
  background-color: #c8ad55;
  color: white;
}
.text {
  font-size: 2em;
  text-align: center;
}
header {
  font-size: 2em;
  display: grid;
  grid-template-columns: 170px auto;
}
p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.logo {
  width: 150px;
  border-radius: 50%;
  margin-top: 20%;
  margin-left: 10%;
}
#logo_link {
  background-color: #6c5a49;
}
.footer {
  background-color: #c8ad55;
  padding: 35px;
  display: flex;
  justify-content: space-around;
  font-size: 2em;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 5/6;
}
.footer a {
  color: white;
}
.footer a:hover {
  background-color: #6c5a49;
  color: white;
  padding: 35px;
}
footer .social img {
  padding-top: 15px;
  padding-bottom: 15px;
}

.magicyoyopicture {
  height: 800px;
  width: 800px;
  padding: 200px;
}
.offsetyoyopicture {
  height: 800px;
  width: 800px;
  padding: 200px;
}
